test-results/
tmp/
routes/
dev-db.sqlite3

server/*.exe
./*.exe

server/updates
server/licenses
server/uploads
server/server.exe
server/server

rpm-build/_build/**/*.rpm


# IDE files
.idea
*.iml
*.swp
palette-insight-reparse/palette-insight-reparse*
*.orig

# Build executable
insight-server
